<header class="h-10 w-full bg-primary flex justify-between items-center px-20">
  <div class="flex flex-row items-center text-white  font-semibold gap-4">
    <a>IEEE.org</a>
    <div class="h-4 w-[1.5px] bg-yellow-500"></div>
    <a>IEEE Xplore Digital Library</a>
    <div class="h-4 w-[1.5px] bg-yellow-500"></div>
    <a>IEEE Standards</a>
    <div class="h-4 w-[1.5px] bg-yellow-500"></div>
    <a>IEEE Spectrum</a>
    <div class="h-4 w-[1.5px] bg-yellow-500"></div>
    <a>More Sites</a>
  </div>
  <div class="flex gap-4 items-center">
    <button class="text-white font-semi-bold text-lg hover:text-yellow-500">
      Login 
    </button>
    <img src="" alt="WIE Logo" />
  </div>
</header>