<div class="flex flex-row overflow-auto">
  <div class="basis-1/2">
    <img src="/Illustration.png" alt="LogIn" class="p-5 space-x-10" />
  </div>
  <div
    class="basis-1/2 border-2 rounded border-slate-100 shadow-lg mt-10 mx-10 px-20 overflow-auto"
  >
    <div class="">
      <h2 class="text-3xl italic font-sans mt-2">Welcome to</h2>
      <h1 class="text-4xl text-violet-500 italic font-sans mt-1">
        Our Application
      </h1>
    </div>
    <div
      class="py-5 mt-2 flex items-center justify-center rounded border-slate-100 border-2 shadow-2xl"
    >
      <img src="/Google.png" class="mr-5" />
      <button class="">Login With Google</button>
    </div>
    <div
      class="py-5 my-5 rounded border-slate-100 border-2 shadow-2xl flex items-center justify-center"
    >
      <img src="/Facebook.png" class="mr-5" />
      <button class="text-center">Login With Facebook</button>
    </div>
    <div class="flex">
      <div class="border-s-8"></div>
      <div class="flex items-center justify-center">
        <p>or</p>
      </div>
      <div class="border-1"></div>
    </div>
    <p>Email</p>
    <div
      class="py-5 px-4 rounded border-2 border-slate-200 hadow-xl flex items-center contrast-more:border-slate-400 space-x-3"
    >
      <img class="ml-3 basis-1" src="/Vector (1).png" alt="Icon" />

      <input
        type="email"
        class="px-3 py-2 placeholder-slate-400 flex-grow"
        placeholder="Saisir Votre mail"
      />
    </div>
    <p>Mot de passe</p>
    <div
      class="py-5 px-4 rounded border-2 border-slate-200 hadow-xl flex items-center contrast-more:border-slate-400 space-x-3"
    >
      <img class="ml-3 basis-1" src="/Group (1).png" alt="Icon" />

      <input
        type="email"
        class="px-3 py-2 placeholder-slate-400 flex-grow"
        placeholder="Saisir Votre mail"
      />
    </div>
    <div class="flex">
      <label class="space-x-5">
        <input
          class="size-5 mt-5"
          type="checkbox"
          name="exampleCheckbox"
          value="value1"
          checked
        />
      </label>

      <p class="ml-5 mt-3 mr-60">Remember me</p>

      <button class="text-violet-500 basis-60">Forgot Password ?</button>
    </div>
    <div
      class="py-5 my-5 rounded border-slate-100 border-2 bg-violet-500 flex items-center justify-center"
    >
      <button class="flex items-center">LogIn</button>
    </div>
  </div>
</div>
