<div class="flex flex-col items-center py-20 w-full h-full">
  <!-- Title and Border -->
  <div class="p-7 w-[26%] text-center">
    <h1 class="text-7xl font-bold">What We Do</h1>
    <div class="border-4 border-primary mt-2"></div>
  </div>
  <p class="text-xl text-center px-10">
    TryEngineering Inspires the Engineers of Tomorrow. TryEngineering aims to empower educators to foster the next generation of technology innovators. We provide educators and volunteers with resources, lesson plans, and activities that engage and inspire.




  </p>

  <!-- Display Sections in rows -->
  <div *ngFor="let group of getSectionGroups()" class="flex justify-around items-start w-full mt-10 ">
    <div *ngFor="let section of group" class="flex flex-col justify-center  items-center gap-20 w-[20%] h-[500px] bg-light-grey  border-none p-4 rounded-2xl">
      <img [src]="section.img" alt="div image" class="h-32 w-full object-cover rounded-2xl">
      <h2 class="mt-4 text-center font-semibold">{{ section.paragraph }}</h2>
      <button class="bg-sky-500 py-3 px-24 font-bold rounded-3xl mt-4 text-white hover:bg-sky-600">{{ section.buttTitle }}</button>
    </div>
  </div>
</div>
