<div
  class="flex flex-col items-center py-16 w-full h-full gap-10 bg-center"
>
  <div
    class="w-full relative z-0 rounded-3xl py-16 px-20 text-white bg-community bg-center flex flex-col gap-4 max-w-7xl overflow-hidden"
  >
  <div class="absolute inset-0 bg-primary/60 -z-10">

  </div>
    <div class="w-fit">
      <h1 class="text-7xl font-bold text-start">STEM Community Resources</h1>
      <div class="border-4 border-yellow-500 mt-2"></div>
    </div>
    <h2 class="text-4xl font-semibold mt-4">Resources from our Community</h2>
    <p class="text-xl max-w-5xl">
      STEM educational materials may include videos, tutorials, lessons,
      activities, articles, and slides from our community of teachers,
      volunteers, and parents.
    </p>
    <div class="flex flex-row gap-4">
      <button
      class="text-2xl bg-sky-500 font-semibold py-2 px-8 rounded-full hover:bg-sky-600 w-fit"
    >
      Join Today
    </button>
    <button
      class="text-2xl border-2 border-sky-500 font-semibold py-2 px-8 rounded-full hover:border-sky-600 w-fit"
    >
      Join Today
    </button>
    </div>
    
  </div>
</div>
